<!-- Banner -->
<section class="banner">

    <div class="right-side-banner banner-item orange">
        <h4 style="color: #fff; padding: 3px;"><span style="border: 3px solid orange; padding: 0 5px">Simple</span><span style="color: #333;"> Web </span> | Team</h4>
        <br/>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a style="margin-top: 5px;" class="btn btn-warning pull-left" href="http://simplewebteam.com/" target="_blank">Pogledajte!</a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <p style="font-size: 14px; font-weight: 700;">Vebsajt, Magazin, Blog, Veb prodavnica i još mnogo toga!</p>
        </div>
        <br/>
    </div>

    <div class="middle-banner banner-item">
        <a href="http://hostjedi.com/aff.php?aff=4&pid=2"><img src="https://www.hostjedi.com/images/banners/309x84-o.jpg" style="width: 100%;" border="0"></a>
    </div>

    <div class="right-side-banner banner-item orange">
        <h4 style="color: #fff; padding: 3px;"><span style="border: 3px solid orange; padding: 0 5px">Simple</span><span style="color: #333;"> Web </span> | Team</h4>
        <br/>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <p style="font-size: 14px; font-weight: 700;">Vebsajt već od <br/><span class="label label-warning" style="font-size: 14px;">1.299 RSD</span> mesečno!</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a style="margin-top: 5px;" class="btn btn-warning pull-right" target="_blank" href="http://simplewebteam.com/">Poručite odmah!</a>
        </div>
        <br/>
    </div>


</section>
<!-- /Banner -->