{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="col-md-offset-2 col-md-8 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-edit"></i> Novi tekst</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li class="pull-right"><i class="fa fa-info"></i></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
        {{ form_start(form) }}
            {{ form_widget(form) }}
                <a class="btn btn-info pull-left marginTop" href="{{ path('blogBox') }}">Povratak na listu</a>
                <button class="btn btn-success pull-right marginTop" type="submit"><i class="fa fa-plus-circle"></i> Dodaj</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}