{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="JokerMobil.com, Prodaja, otkup i zamena mobilnih telefona. Najbolje cene, isplata odmah. Zamenite Va stari telefon za novi.">
    <meta name="keywords" content="Prodaja telefona, Otkup telefona, Zamena telefona, Mobilni telefoni, Oprema za mobilne telefone, Staro za novo">
    <meta name="author" content="Milos Aperlic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %} | Pravila i uslovi {% endblock %}
{% block body %}
    <!-- Content -->
    <div class="row content">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="breadcrumbs">
                <p><a href="/">Početna</a> <i class="icons icon-right-dir"></i> Pravila i uslovi</p>
            </div>
        </div>

        <!-- Main Content -->
        <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="carousel-heading no-margin">
                        <h4>Pravila i uslovi</h4>
                    </div>

                    <div class="page-content">

                        <h3>Pomoć pri online kupovini</h3>
                        <p>
                            Naručivanje putem sajta je veoma jednostavno. Kao i u maloprodajnim objektima, tako i ovde, potrebno je da pronađete odgovarajući
                            artikal koji želite da naručite, zatim kliknite na dugme "Dodaj u korpu", količina je automatski podešena na 1, ali ukoliko želite
                            više modela, možete izabrati bilo koji broj koji je manji ili jednak naznačenom broju modela na stanju. Nakon završenog dodavanja
                            artikala u korpu i naknadnom proverom da li je sv u korpi onako kako ste želeli, kliknite na dugme "Završi porudžbinu". Sada če
                            Vam se otvoriti prozor sa poljima koje treba da popunite sa Vašim <b>tačnim</b> podacima.
                        </p>
                        <h3>Popusti i Loyality codes</h3>
                        <p>
                            Popusti i razni kodovi za stalne korisnike koji obezbedjuju popust i druge povlastice u vidu poklona će često biti dostupni putem sajta
                            ili će ih kupci dobiti uz telefon. Kod, ukoliko ga posedujete, ćete navesti na predviđeno mesto u toku porudžbine.
                        </p>
                        <h3>Načini plaćanja</h3>
                        <p>
                            Plaćanje kupljenih artikala se vrši u gotovini prilikom preuzimanja. Proizvode plaćate pouzećem (gotovinski) prilikom preuzimanja paketa na adresi
                            koju ste naveli u Vašoj porudžbini.
                        </p>
                        <p>
                            <b>Na cenu telefona se dodaju troškovi dostave koji iznose 250 RSD + 1% od navedene vrednosti pošiljke.</b>
                            Ako je vrednost pošiljke 37.000RSD tada će troškovi dostave iznositi 250 RSD + 370 RSD (1%) odnosno ukupno 620 RSD
                        </p>
                        <h3>Završni korak</h3>
                        <p>
                            Nakon što odaberete željene telefone ili opremu i dodate ih u korpu klikom na "Završi porudžbinu" prikazaće Vam se završni
                            korak gde je potrebno <b>tačno</b> da unesete Vaše lične podatke kako bi porudžbina stigla na vreme i na pravu adresu. Podaci
                            koji treba propisno da se unesu su <b>Ime i Prezime, Email i kontakt telefon, Mesto i poštanski broj, Ulica i broj</b> Korsinik
                            je u obavezi da unese svoje podatke, u slučaju zloupotrebe korisnik će za obmanu biti gonjen po odgovarajućim zakonima R. Srbije.
                        </p>
                        <p>
                            *Takođe, pre slanja Vaše porudžbine bitno je da ste <b>upoznati i saglasni</b> sa navedenim <i>pravilima i ulovima</i> jer potvrđivanjem
                            porudžbine se slažete sa svim navedenim.
                        </p>
                        <h3>Porudžbina</h3>
                        <p>
                            Ukoliko iz bilo kog razloga nismo u mogućnosti da Vam obezbedimo poručeni artikal (ukoliko nije raspoloživ ili neki drugi razlog)
                            obavestićemo Vas da smo prinuđeni da otkažemo Vašu porudžbinu i pokušati da zajedno sa Vama nađemo alternativu.
                        </p>
                        <p>
                            Nastojimo da stanje raspoloživih modela na sajtu bude ažurno, ali zbog dinamičnosti tržišta postoji mogućnost da u određenim slučajevima
                            proizvod ne bude raspoloživ.
                        </p>
                        <p>
                            U slučaju da nakon izvršene porudžbine bude utvrđeno da je omaškom na sajtu u odnosu na poručeni model označena pogrešna cena, trgovac
                            će nastojati da potrošača u što kraćem roku obavesti o uočenoj grešci i tačnom iznosu cene koja je za poručeni model važil u trenutku
                            porudžbine važila. U tom slučaju potrošač/kupac ima pravo da poručeni model plati prema maloprodajnoj ceni koja mu je naknadno predočena
                            ili pak odustane od kupovine.
                        </p>
                        <h3>Direktno poručivanje</h3>
                        <p>
                            Ukoliko više praktikujete da lično, pozivom, poručite ono što ste pronašli to možete uradit pozivom na:
                        </p>
                        <ul>
                            <li><b>+381 64 / 40 - 40 - 950</b> Marko</li>
                            <li><b>+381 64 / 40 - 40 - 970</b> Đorđe</li>
                        </ul>
                        <h3>Isporuka</h3>
                        <p>
                            Poručeni proizvodi biće Vam isporučeni posredstvom kurirske službe BEX (ili nekom drugom na Vaš zahtev) u roku od 1 do 2 radna dana.
                        </p>
                        <p>
                            Obavestićemo Vas putem SMS poruke da je pošiljka preuzeta odnosno predata kurirskoj službi od strane JokerMobil-a te da možete očekivati njeno prispeće uskoro.
                        </p>
                        <p>
                            <b>Porudžbine primljene radnim danom do 14h biće poslate istog dana.</b>
                            <b>Porudžbine primljene vikendom biće poslate prvog sledećeg radnog dana.</b>
                        </p>
                        <h3>Povraćaj i reklamacija</h3>
                        <p>
                            Ukoliko ste primili pošiljku i ustanovili da uređaj nije onakav kako piše u opisu ili je neispravan imate rok za reklamacije 7 dana od
                            dana preuzimanja artikla.
                        </p>
                        <p>
                            Da biste ostvarili neka od prava prilikom vraćanja kupljenog proizvoda naručena roba ne sme biti oštećena ili pohabana, mora biti
                            vraćena u originalnoj ambalaži.
                        </p>
                        <p>
                            Ukoliko ispunite navedene uslove možete izabrati da Vam se vrati novac ili da poručite drugi artikal. Ukoliko se opredelite da u zamenu poručite
                            drugi artikal, snosite troškove dostave novog artikla, dok mi snosimo troškove povraćaja robe odnosno troškove dostave prethodnog artikla nazad.
                            Radi lakšeg dogovora oko reklamacije pozovite neki od navedenih brojeva telefona ili putem kontakt forme <a href="/kontakt">ovde</a>.
                        </p>
                        <p>
                            *Nakon preuzimanja vraćenog artikla u roku od 48h od dana prijema vraćenog artikla biće Vm poslat drugi artikal u zamenu ili vraćen novac
                            na tekući račun. Povrat novca kupcu koji nema otvoren tekući ralun izvršiće se elektronskim putem poštanskom uputnicom.
                        </p>
                        <h3>Zabrinuti ste zbog</h3>
                        <p>
                            Ukoliko imate bilo kakvih pitanja, komentara ili drugih nedoumica i nejasnoća vezanih za naše poslovanje, uslove ili proizvode, ukoliko ste
                            poslali netačne podatke ili ste u međuvrenu odustali od porudžbine ili nešto treće, molimo Vas kontaktirajte nas putem kontakt forme <a href="/kontakt">ovde</a>
                            ili na brojeve:
                        </p>
                        <ul>
                            <li><b>+381 64 / 40 - 40 - 950</b> Marko</li>
                            <li><b>+381 64 / 40 - 40 - 970</b> Đorđe</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Main Content -->
        {{ render(controller(
        'AppBundle:Parts:sidebar'
        )) }}
    </div>
    <!-- /Content -->
    {{ render(controller(
    'AppBundle:Parts:banners'
    )) }}
{% endblock %}